@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.548);
}

.text-new {
  font-size: 35px;
  line-height: 42px;
}

.active-tab-background {
  background-image: url('/Section2/Button.svg');
  background-size: cover;
  background-position: center;
  position: relative; 
  padding: 30px; 
}

.slider-button {
  background-color: #333; 
  color: #fff; 
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-button:hover {
  background-color: #555; 
}

